<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Shortlink</a>
        <div class="wrapper">
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary">Добро пожаловать, {{ user.username }}</a>
                <a class="btn btn-primary" href="{% url 'links' %}">Мои ссылки</a>
                <a class="btn btn-warning" href="{% url 'logout' %}">Выход</a>

            {% else %}
                <a class="btn btn-outline-success" href="{% url 'login' %}">Вход</a>
                <a class="btn btn-outline-success" href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>